{% extends '@Intake/base.html.twig' %}

{% block body %}    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-success newitem" href="{{ path('locatie_new') }}">
        Nieuwe locatie aanmaken <i class="fa fa-plus-square"></i></a>
    <h1>Locatie overzicht</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Plaatsnaam</th>
            <th>Adres</th>
            <th>Huisnummer</th>
            <th>Postcode</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for locatie in locaties %}
            <tr>
                <td><a href="{{ path('locatie_show', { 'id': locatie.id }) }}">{{ locatie.id }}</a></td>
                <td>{{ locatie.plaatsnaam }}</td>
                <td>{{ locatie.adres }}</td>
                <td>{{ locatie.huisnummer }}</td>
                <td>{{ locatie.postcode }}</td>
                <td>
                    <a href="{{ path('locatie_show', { 'id': locatie.id }) }}" class="btn btn-info">show</a>
                    <a href="{{ path('locatie_edit', { 'id': locatie.id }) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('locatie_new') }}">
        Nieuwe locatie aanmaken <i class="fa fa-plus-square"></i></a>    {% else %}

{% endif %}
{% endblock %}
