{% extends '@Intake/base.html.twig' %}

{% block body %}
    {% for user in users %}
        {% if (app.user.id == user.id) or is_granted("ROLE_ADMIN") %}
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ user.voornaam }} {{ user.achternaam }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>Woonplaats</td>
                                                <td>{{ user.woonplaats }}</td>
                                            </tr>
                                            <tr>
                                                <td>Huisnummer</td>
                                                <td>{{ user.huisnummer }}</td>
                                            </tr>
                                            <tr>
                                                <td>Postcode</td>
                                                <td>{{ user.postcode }}</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td><a href="mailto:info@support.com">{{ user.email }}</a></td>
                                            </tr>
                                            <tr>
                                                <td>Telefoon nummer</td>
                                                <td>{{ user.telefoonnummer }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <a href="{{ path('profiel_edit', { 'id': app.user.id }) }}" class="btn btn-warning">
                                            Profiel wijzigen
                                            <i class="fa fa-edit"></i> </a>
                                        <a href="{{ path('inschrijven_new') }}" class="btn btn-success">
                                            Nu inschrijven!
                                            <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}